@import '../../blogs/blog-form/blog-form.component.scss';

.grid.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 900px) {
  .grid.three {
    grid-template-columns: 1fr;
  }
}
